* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

button {
  cursor: pointer;
}

.err-msg {
  color: #c60606;
  font-size: 0.85rem;
}

.filter-select > div {
  width: 150px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .filter-select > div {
    width: 100px;
  }
}

.success {
  color: #10cb10;
  font-size: 0.85rem;
  margin-top: 5px;
}
