###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
####     http://aws.amazon.com/apache2.0/
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file downloads a private key from Amazon S3 and configures nginx to use it
#### to terminate HTTPS connections on port 443. Replace the values in the Parameters section with
#### the URL of the private key in Amazon S3, and the contents of the public certificate. To
#### download the file, your environment's instance profile must have S3ReadOnlyAccess or a similar
#### policy attached. In a single instance environment, also include
#### https-singleinstance-securitygroup.config to allow traffic to the instance on port 443.
###################################################################################################

Parameters:
  privatekey:
    Type: String
    Description: "The path to the private key in Amazon S3"
    Default: "https://elasticbeanstalk-us-east-2-740995310974.s3.us-east-2.amazonaws.com/ssl-certs/hour-glass/private.key"
  publiccert:
    Type: String
    Description: "The public certificate"
    Default: |
      -----BEGIN CERTIFICATE-----
      MIIGezCCBGOgAwIBAgIQUlHXFTgletY9gI+OM3FD+DANBgkqhkiG9w0BAQwFADBL
      MQswCQYDVQQGEwJBVDEQMA4GA1UEChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NT
      TCBSU0EgRG9tYWluIFNlY3VyZSBTaXRlIENBMB4XDTIxMDQwMTAwMDAwMFoXDTIx
      MDYzMDIzNTk1OVowGDEWMBQGA1UEAxMNaG91ci1nbGFzcy5tZTCCASIwDQYJKoZI
      hvcNAQEBBQADggEPADCCAQoCggEBANYS37I9a0jSSFJYzhi6AjR034jiMkNhy8FH
      ZQJhfJwqCCKxtm1anykhFh68jpDYsG+uM6YF+xmA20HC24UlT3uzPHJ7gPatW67Z
      1e6vmjxG4TQX7JJJCsYRhUFYkjLyGW++By27Blx0UL+bRXIUvXx79eoRv0NOcQIA
      qlQyZKgWYDap8+BSZPgMH4ZMhhJW/uf8HsmnyJInRUbA0nLK9Vch5zZCP8qJEJ5Q
      2kYZc8cPdT4yt+vODrap8u5nOASOD+BNrWSosLJayaB8U/k2B0Wv75+Hc//eegZy
      vWsFvQ+q0ehfsE1ikB3vMSQpyOO5WnDXLBG/mzZEzGZEG9vmDh0CAwEAAaOCAoww
      ggKIMB8GA1UdIwQYMBaAFMjZeGii2Rlo1T1y3l8KPty1hoamMB0GA1UdDgQWBBR1
      dI07s+9bTBHpcqZr2KhIoblKmDAOBgNVHQ8BAf8EBAMCBaAwDAYDVR0TAQH/BAIw
      ADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwSQYDVR0gBEIwQDA0Bgsr
      BgEEAbIxAQICTjAlMCMGCCsGAQUFBwIBFhdodHRwczovL3NlY3RpZ28uY29tL0NQ
      UzAIBgZngQwBAgEwgYgGCCsGAQUFBwEBBHwwejBLBggrBgEFBQcwAoY/aHR0cDov
      L3plcm9zc2wuY3J0LnNlY3RpZ28uY29tL1plcm9TU0xSU0FEb21haW5TZWN1cmVT
      aXRlQ0EuY3J0MCsGCCsGAQUFBzABhh9odHRwOi8vemVyb3NzbC5vY3NwLnNlY3Rp
      Z28uY29tMIIBBAYKKwYBBAHWeQIEAgSB9QSB8gDwAHYAfT7y+I//iFVoJMLAyp5S
      iXkrxQ54CX8uapdomX4i8NcAAAF4ivzNvgAABAMARzBFAiBPVkl0cujYlXOZ8Sqb
      FhgGtMkI/8T2cZqInjNzENmnXgIhANBXdOfkaT/TTfgBtRs4i4uNBlCT+TORhX0/
      jT+Xfe/LAHYAlCC8Ho7VjWyIcx+CiyIsDdHaTV5sT5Q9YdtOL1hNosIAAAF4ivzN
      oAAABAMARzBFAiAjF2h9rLDLMW94jaVqivSTynogdZFuxw7Epn5dego9UQIhAPij
      U86wpsaLR4omrk3m2d5CzfVfuOSe2cZcLEuNr0CqMCsGA1UdEQQkMCKCDWhvdXIt
      Z2xhc3MubWWCEXd3dy5ob3VyLWdsYXNzLm1lMA0GCSqGSIb3DQEBDAUAA4ICAQBz
      PLeq9BTR9VeePs7DS15CkVapCK34vVcjDXa8m6LA/KxQKnyD8ncXGMHv3/hJ6UYx
      2Wo7Zswaeb8EeppX8Crj+738bv1gjs/UxNu9ucfHiNsgRFAXVD32/Y8jDJklpy9F
      jOcWhj79HgcXPsMHOrUvfqMHgYyMLvEC1Eacj02O2YOvo7C0lP+2rq2nLWZLUDts
      8QTjPmvdsjwbkpoe75rMeOCR14QO9B7mNVtSqddXSRFiwUoZ/YK7V3VAQ1YST73i
      E/Tnxnr4X+n097OEeSH91vDXaMKhnVdBRl9u40hs85/QRz60dlBqGJBka0QWfbZN
      bpzv1nXGpgshA5aRZk2q3ZThJY8FkEBsRv9y9GS8qF+xbB/BzsDPO3qs+UdDkvvl
      NG0DURKRjNmN2yCKV1l2E4Bg+y93QX8hQlk7CIds3QGjvQv5oeD7iSrltBFbNJ0c
      q3rHtneo2Q7TWgDmZ2Brx2PEDSC9kIQlS+oOiHVLMWBg0+lu0WfcYzMXXs+RTBzo
      Oy7AGw+E8yOBNg3ebY7wsUclFJMuBthblBJV+T4PlyoD708zItW/SpI0EFDwq83M
      WoCNoX4fEvB7Hpvy/imIadNVXbz8BYNUaC8mbrYBDE0kkwbLt8Or63tdJ5fOMdf/
      nCQnN7JuDSIqZHgGrtma/KHbn/eKhlOqQGSro8wkoQ==
      -----END CERTIFICATE-----

##############################################
#### Do not modify values below this line ####
##############################################

files:
  # nginx HTTPS configuration
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }

  # Public certificate
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: { "Ref": "publiccert"}

  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: { "Ref" : "privatekey" }

container_commands:
  01restart_nginx:
    command: "service nginx restart"

Resources:
  # Use instance profile to authenticate to S3 bucket that contains the private key
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"